html,body,div,ul,li,img,a{margin:0px;
    padding:0px;
    list-style:none;}
html{overflow-x:hidden;}
#big_box{
    min-width:1200px;
    width:100%;
    width:expression(document.body.clientWidth <= 1200? "1200px": "auto");
     }
#header{background:#FF6700;
    width:100%;
    min-width:1200px;
    width:expression(document.body.clientWidth <= 1200? "1200px": "auto");
    height:50px;
    font-size:14px;
    position:fixed;
    top:0px;
    left:0px;
    }
/*#header ul{margin-left:30px;}*/
#header #control{
    margin-right: 800px;
    height: 50px;
    width:120px;
    text-align:center;
    letter-spacing:3px;
    font-size:16px;
}
#header #control a{display:block;
    height: 50px;
    width:120px;
    text-decoration:none;
    color: #fff;
                  }
#header #control:hover{background:#F19A27;
                       cursor:pointer;
}

#header ul li{
    float: left;
    height:50px;
    line-height:50px;
    color:#fff;}
#photo img{width:40px;
    height:40px;
    border-radius:20px;
    overflow: hidden;
    margin-left:10px;
    cursor: pointer;}
.photo img{width:40px;
    height:40px;
    margin-top:5px;
    margin-right:10px
}

.triangle{width:0px;
    height:0px;
    position: relative;
    top: 20px;
    margin-left:10px;
    border-left: 9px solid transparent;
    border-right:9px solid transparent;
    border-top:10px solid #fff;
    cursor: pointer;
}
.active_triangle{width:0px;
    height:0px;
    margin-left:10px;
    border-left: 9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:10px solid #fff;
    position:relative;
    bottom:20px;
    cursor:pointer;
}
#user{
    position:absolute;
    top:70px;
    right:0px;
    width:100px;
    height:100px;
    display:none;
    background:#FF6700;
    z-index:100;
}
#user li{height:50px;
    width:100px;
    line-height:50px;
    text-align:center;
}
#user a{color:#fff;
        text-decoration: none;
        height:50px;
        width:100px;
        display:block;
}
#user a:hover{background:#F19A27;}
#off{margin-left:60px;
    cursor: pointer}
#off:hover{color:#F19A27;}

#content{width:100%;
         height:auto;
        float: left;
        margin-left: 200px;
        padding-left:40px;
        margin-top:50px;
         overflow:hidden;
        }
#content .one{width:1050px;
              height:40px;
              padding-left:50px;
              line-height:40px;
               margin-top:20px;
              margin-bottom:30px;
              font-size:15px;
              border:1px solid #E1E6EB;

}
#content .one p{float:left;}
#content .one p span{color:#FF6700;}
#content .one input{border:1px solid #ccc;margin-top:5px;}
#content .two{font-size:14px;}
#content .two .machine{width:515px;
                       height:250px;
                        border:1px solid #CCD6E0;
                        margin-right:20px;
                        margin-bottom:15px;
                        float:left;
}
#content .two .clear_mr{margin-right:0px;}
#content .two .machine p{width:515px;
                           height:40px;
                           padding-left:15px;
                           line-height:40px;
                           border-bottom: 1px solid #CCD6E0 ;
}
#content button{width:70px;height:30px;font-size:15px;
margin-left:360px;
cursor: pointer;}



/*1.html*/
#content table{border:1px solid #E1E6EB;
               margin-top:40px;
               width:1050px;
               height:100px;
}
#content table thead{background: #F5F6FA;}
#content table tr,#content table thead,
#content table td,
#content table th{border:1px solid #E1E6EB;}



